<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBD" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60194/BD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBD" contract="svc_specialticket.IBD"
                name="BasicHttpBinding_IBD" />
        </client>
    </system.serviceModel>
</configuration>